$primary-color: #859900;
$secondary-color: #eee8d5;
$tertiary-color: #073642;
$muted-color: #657b83;

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-image: url(/assets/images/crossword.png);
  font-family: 'Droid Serif', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: $muted-color;
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
}

a {
  color: $primary-color;
  text-decoration: none;
}

.muted { color: $muted-color; }

/* Utility */
.wrap:before,
.wrap:after { content:""; display: table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}


/* Layout Styles */
/* ----------------------------------------------------------*/

.pagination { float: left; }
.rss-subscribe { float: right; }
.fa-rss { color: #cb4b16; }

/* Site header */

.site-header {
  border-top: 5px solid #333;
  border-bottom: 1px solid $primary-color;
  background-color: $secondary-color;
}

.site-title,
.site-title:hover,
.site-title:visited {
  display: block;
  color: #333;
  font-size: 26px;
  letter-spacing: -1px;
  float: left;
  line-height: 56px;
  position: relative;
  z-index: 1;
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon { display: none; }

  .page-link {
    margin-left: 20px;
    color: $muted-color;
    letter-spacing: -.5px;
    &:hover { color: $primary-color; }
  }
}

/* Site footer */

.site-footer {
  border-top: 4px solid $primary-color;
  padding: 30px 0;
  background-color: $tertiary-color;

  .column { float: left; margin-bottom: 15px; }
  ul { list-style: none; }

  li, p {
    font-size: 16px;
    color: $muted-color;
  }

  .social i { color: $muted-color; font-size: 24px; padding-right: 3px; }
}

.footer-col-1 {
  width: 270px; /*fallback*/
  width: -webkit-calc(35% - 10px);
  width: -moz-calc(35% - 10px);
  width: -o-calc(35% - 10px);
  width: calc(35% - 10px);
  margin-right: 10px
}
.footer-col-2 {
  width: 175px; /*fallback*/
  width: -webkit-calc(23.125% - 10px);
  width: -moz-calc(23.125% - 10px);
  width: -o-calc(23.125% - 10px);
  width: calc(23.125% - 10px);
  margin-right: 10px
}
.footer-col-3 {
  width: 335px; /*fallback*/
  width: -webkit-calc(41.875%);
  width: -moz-calc(41.875%);
  width: -o-calc(41.875%);
  width: calc(41.875%);
}


/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  padding: 30px 0;
}


/* Home styles */
/* ----------------------------------------------------------*/

.home h1 { margin-bottom: 25px; }

.posts {
  list-style-type: none;

  li { margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px inset #ddd; }

  .post-link {
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 1;
    display: inline-block;
    padding: 15px 0px;
  }

  .post-date {
    display: block;
    font-size: 15px;
    color: #818181;
  }
}

/* Post styles */
/* ----------------------------------------------------------*/

.post-header {
  margin: 10px 0 30px;

  h1 {
    font-size: 42px;
    letter-spacing: -1.75px;
    line-height: 1;
    font-weight: 300;
  }

  .meta {
    font-size: 15px;
    color: #818181;
    margin-top: 5px;
  }
}

.post-content {
  margin: 0 0 30px;

  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-weight: 300;
  }

  h1 {
    font-size: 34px;
    letter-spacing: -1.25px;
  }

  h2 {
    font-size: 32px;
    letter-spacing: -1.25px;
  }

  h3 {
    font-size: 26px;
    letter-spacing: -1px;
  }

  h4 {
    font-size: 20px;
    letter-spacing: -1px;
  }

  blockquote {
    border-left: 4px solid #e8e8e8;
    padding-left: 20px;
    font-size: 18px;
    opacity: .6;
    letter-spacing: -1px;
    font-style: italic;
    margin: 30px 0;
  }

  ul, ol { padding-left: 20px; }

  .categories {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;

    li { margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px inset #ddd; }

    .category-link {
      font-size: 24px;
      letter-spacing: -1px;
      line-height: 1;
      display: inline-block;
    }

    .post-count { padding-top: 15px; }
  }
}

.post {
  pre, code {
    padding: 8px 12px;
    font-size: 15px;
    overflow:scroll;
  }

  code { padding: 1px 5px; }

  ul, ol { margin-left: 1.35em; }

  pre code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }

/* terminal */
  pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    code { background-color: #333; }
  }
}


/* media queries */
/* ----------------------------------------------------------*/


@media screen and (max-width: 750px) {

  .footer-col-1 { width: 50%; }

  .footer-col-2 {
    width: 45%; /*fallback*/
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-right: 0;
  }

  .site-footer .column.footer-col-3 {
    width: auto;
    float: none;
    clear: both;
  }

}

@media screen and (max-width: 600px) {

  .wrap { padding: 0 12px; }

  .site-nav {
    position: fixed;
    z-index: 10;
    top: 14px; right: 8px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }

  .site-nav .menu-icon {
    display: block;
    font-size: 24px;
    color: #505050;
    float: right;
    width: 36px;
    text-align: center;
    line-height: 36px;
  }

  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;
  }

  .site-nav:hover .trigger { display: block; }

  .site-nav .page-link {
    display: block;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
    margin: 0;
  }

  .post-header h1 { font-size: 36px; }
  .post-content h2 { font-size: 28px; }
  .post-content h3 { font-size: 22px; }
  .post-content h4 { font-size: 18px; }
  .post-content blockquote { padding-left: 10px; }
  .post-content ul,
  .post-content ol { padding-left: 10px; }

  .site-footer .column {
    float: none;
    clear: both;
    width: auto;
    margin: 0 0 15px;
  }

}
