<footer class="site-footer">

  <div class="wrap">

    <div class="footer-col-1 column">
      <h1>Categories</h1>
      <ul>
        {% for category in site.sorted_categories %}
          <li><a href="/categories/{{ category | first }}" title="{{category | first}}">{{ category | first | capitalize_all }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>
    </div>

    <div class="footer-col-2 column social">
      <a href="http://twitter.com/keelerm84"><i class="fa fa-twitter"></i></a>
      <a href="http://github.com/keelerm84"><i class="fa fa-github"></i></a>
      <a href="http://stackoverflow.com/users/859409/keelerm"><i class="fa fa-stack-overflow"></i></a>
      <a href="http://www.youtube.com/user/keelerm84ify"><i class="fa fa-youtube-play"></i></a>
      <a href="https://plus.google.com/+MatthewKeeler/"><i class="fa fa-google-plus"></i></a>
      <a href="http://www.linkedin.com/in/keelerm84"><i class="fa fa-linkedin"></i></a>
    </div>

  </div>

</footer>
