<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include navigation.html %}

    <div class="container">
      <div class="row">
        <div class="col-lg-8 content">
          {{ content }}
        </div>

        <div class="col-lg-4 sidebar">
          {% include sidebar.html %}
        </div>
      </div>

    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/augment.js/1.0.0/augment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lunr.js/0.5.3/lunr.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>
    <script src="http://nodejs.in/octocard/bin/octocard.js"></script>
    <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
